[Unit]
Description=Server Monitor
After=network.target mongod.service
Requires=mongod.service

[Service]
User={{ app_user }}
Group={{ app_group }}

# Python import 루트는 /opt/server-monitor 여야 app.main:app가 동작
WorkingDirectory={{ app_root }}

EnvironmentFile={{ env_file }}

ExecStart={{ venv_path }}/bin/uvicorn app.main:app --host ${HOST} --port ${PORT}

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target